<link href="../../assets/css/bootstrap.min.css" rel="stylesheet">

<link href="../../assets/css/font-awesome.min.css" rel="stylesheet">
<link href="../../assets/css/animate.min.css" rel="stylesheet">
<link href="../../assets/css/owl.carousel.css" rel="stylesheet">
<link href="../../assets/css/owl.transitions.css" rel="stylesheet">
<link href="../../assets/css/prettyPhoto.css" rel="stylesheet">
<link href="../../assets/css/main.css" rel="stylesheet">
<link href="../../assets/css/responsive.css" rel="stylesheet">
<!--[if lt IE 9]>
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

<!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="a../../ssets/images/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../assets/images/ico/apple-touch-icon-114-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../assets/images/ico/apple-touch-icon-72-precomposed.png">
<link rel="apple-touch-icon-precomposed" href="../../assets/images/ico/apple-touch-icon-57-precomposed.png"> -->




<section class="sliderContainer">

    <div class="slider">

        <div class="piece" style="background-image: url(assets/images/slider/1.jpg);">

            <div class="sWrap">

                <div class="letter">
                    <h2><span>Luis Guillén</span><br/>¡Coaching Mental!</h2>
                    <p>Te invito a replantear tu vida actual y dar el primer paso para lograr tus verdaderas metas.</p>
                    <a class="btn btn-primary btn-lg" href="#features">¿Estás listo?</a>
                </div>

            </div>

        </div>

        <div class="piece" style="background-image: url(assets/images/slider/2.jpg);">

            <div class="sWrap">

                <div class="letter">
                    <h2><span>Luis Guillén</span><br/>¡Coaching Mental!</h2>
                    <p>Te invito a replantear tu vida actual y dar el primer paso para lograr tus verdaderas metas.</p>
                    <a class="btn btn-primary btn-lg" href="#features">¿Estás listo?</a>
                </div>

            </div>

        </div>

        <div class="piece" style="background-image: url(assets/images/slider/bg2.jpg);">

            <div class="sWrap">

                <div class="letter">
                    <h2>¡Soy <span>Coach Mental!</span></h2>
                    <p>¡Hoy comenzaré a ayudarte a cambiar el sentido de tu vida! </p>
                    <a class="btn btn-primary btn-lg" href="#services">Servicios</a>

                </div>

            </div>

        </div>



        <!--/.item-->
        <!-- <div class="item" style="background-image: url(assets/images/slider/bg2.jpg);">

            <div class="sWrap">

                <div class="carousel-content">
                    <h2>¡Soy <span>Coach Mental!</span></h2>
                    <p>¡Hoy comenzaré a ayudarte a cambiar el sentido de tu vida! </p>
                    <a class="btn btn-primary btn-lg" href="#services">Servicios</a>

                </div>

            </div>

        </div> -->


    </div>

    <div class="slideButton" (click)="sliderBefore()" id="sliderBefore"><i class="fa fa-chevron-left"></i></div>
    <div class="slideButton" (click)="sliderNext()" id="sliderNext"><i class="fa fa-chevron-right"></i></div>

    <div class="bar-progress" id="barProgress"></div>


    <!--/.owl-carousel-->
</section>
<!--/#main-slider-->

<section id="cta" class="wow fadeIn">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>Conoce mi metodología</h2>
                <p>La metodología con la que trabajo consta de 3 áreas de acción: P.N.L. (Programación Neurolingüística), Hipnosis Ericksoniana y Neurociencia.
                </p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-primary btn-lg" href="#services">Conoce más</a>
            </div>
        </div>
    </div>
</section>
<!--/#cta-->

<section id="features">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Luis Guillén</h2>
            <p class="text-center wow fadeInDown">¡Soy Coach Mental! A través de diferentes técnicas como programación neurolingüística, hipnosis y neurociencia lograremos que tengas más enfoque en las situaciones que deseas cambiar de tu vida, de tu negocio, de tus relaciones interpersonales.
                Te invito a replantear tu vida actual y dar el primer paso para lograr tus verdaderas metas.</p>
            <div>
                <p>
                    <a href="#services">
                        <h3 align="center">¡Sólo tienes una vida, hoy es el momento de decirle SÍ al cambio!</h3>
                    </a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 wow fadeInLeft">
                <img class="img-responsive" src="assets/images/main-feature.jpg" width="500" alt="">
            </div>
            <div class="col-sm-6">
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">¿Qué es PNL?</h4>
                        <p>La PNL es un método de comunicación, su premisa parte de las teorías constructivistas que afirman el ser humano no opera directamente sobre el mundo real, si no que lo hace a través de representaciones mentales del mismo.</p>
                        <!--<p><a class="btn btn-default" href="#">Profundiza</a></p>-->
                    </div>
                </div>
                <br/>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-cubes"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">¿Qué es la Hipnosis?</h4>
                        <p>Es el trabajo con la mente subconsciente, quien es quien controla nuestros programas mentales, es decir de donde surgen las instrucciones de nuestras emociones, sentimientos acciones y reacciones.</p>
                        <!--<p><a class="btn btn-default" href="#">Profundiza</a></p>-->
                    </div>
                </div>
                <br/>
                <div class="media service-box wow fadeInRight">
                    <div class="pull-left">
                        <i class="fa fa-pie-chart"></i>
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">¿Qué es la Neurociencia?</h4>
                        <p>Tenemos un cerebro y este es físico, PNL y la hipnosis mueven el software de la computadora humana (cerebro), con neurociencia tomamos en cuenta las condiciones físicas.</p>
                        <!--<p><a class="btn btn-default" href="#">Profundiza</a></p>-->
                    </div>
                </div>

                <!--<div class="media service-box wow fadeInRight">
                  <div class="pull-left">
                      <i class="fa fa-pie-chart"></i>
                  </div>
                  <div class="media-body">
                      <h4 class="media-heading">Seminarios</h4>
                      <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                  </div>
              </div>-->
            </div>
        </div>
    </div>
</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">¿En qué aspectos de tu vida puede ayudarte el<br/><span>PNL, la Hipnosis y la Neurociencia?</span></h2>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">Todos los pacientes que recurren a las sesiones de entrenamiento mental obtendrán resultados más rápidos y duraderos en el manejo de sus emociones, se liberan de cargas emocionales, presiones, ataduras, miedos y traumas del pasado.</p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" [routerLink]="['./aspecto-ayuda']">Conoce más</a></p>
            <div><img class="img-responsive wow fadeIn" src="assets/images/cta2/cta2-img.png" alt="" data-wow-duration="300ms" data-wow-delay="300ms"></div>
        </div>
    </div>
</section>

<section id="services">
    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">Mis Servicios</h2>
            <p class="text-center wow fadeInDown">La terapia de programación neurolingüistica e hipnosis ayuda a los individuos a mejorar diversos aspectos de su vida, así mismo a las pequeñas y grandes empresas a desarrollar a sus empleados en un punto profundo de su mente.</p>
        </div>

        <div class="row">
            <div class="features">
                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-line-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Deportistas</h4>
                            <p>on coaching deportivo para atletas pueden mejorar sus habilidades, superar frustraciones y potenciar su deporte.</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <!--<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                  <div class="media service-box">
                      <div class="pull-left">
                          <i class="fa fa-cubes"></i>
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">UI design</h4>
                          <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                      </div>
                  </div>
              </div><!--/.col-md-4-->

                <!--<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms">
                  <div class="media service-box">
                      <div class="pull-left">
                          <i class="fa fa-pie-chart"></i>
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">SEO Services</h4>
                          <p>Backed by some of the biggest names in the industry, Firefox OS is an open platform that fosters greater</p>
                      </div>
                  </div>
              </div><!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bar-chart"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Personas</h4>
                            <p>Ayudo a las personas a desarrollar cualidades y mejorar la calidad de vida personal y profesional </p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-language"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Empresas</h4>
                            <p>Las empresas puede mejorar el rendimiento profesional y desarrollar el procesamiento de trabajo de sus empleados</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="500ms">
                    <div class="media service-box">
                        <div class="pull-left">
                            <i class="fa fa-bullseye"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="media-heading">Seminarios</h4>
                            <p>Con mis seminarios pretendo apoyar a las personas en aspectos muy específicos de sus vidas</p>
                        </div>
                    </div>
                </div>
                <!--/.col-md-4-->

                <!--<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-duration="300ms" data-wow-delay="600ms">
                  <div class="media service-box">
                      <div class="pull-left">
                          <i class="fa fa-pie-chart"></i>
                      </div>
                      <div class="media-body">
                          <h4 class="media-heading">Deportistas</h4>
                          <p>Con coaching deportivo para atletas pueden mejorar sus habilidades, superar frustraciones y potenciar su deporte.</p>
                      </div>
                  </div>
              </div>-->
                <!--/.col-md-4-->
            </div>
        </div>
        <!--/.row-->
    </div>
    <!--/.container-->
</section>
<!--/#services-->

<section id="blog" *ngIf="blogs.length > 0">

    <div class="container">

        <div class="section-header">
            <h2 class="section-title text-center wow fadeInDown">MI BLOG</h2>
            <!-- <p class="text-center wow fadeInDown"></p> -->
        </div>

        <div class="blogContainer">

            <div class="blog" *ngFor="let blog of blogs" [routerLink]="['./blog', blog.url]">

                <img src="{{ url.basic}}images/blog/{{ blog.id}}/{{blog.img}}">
                <h3>{{ blog.title }}</h3>
                <p class="dateBlog principalColor"> <i class="fa fa-calendar"></i> {{ blog.date | dateBlog }}</p>
                <p>{{ blog.resume }}</p>
                <h5 class="principalColor">Leer más...</h5>
            </div>

        </div>

    </div>

</section>

<section id="cta2">
    <div class="container">
        <div class="text-center">
            <h2 class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="0ms">Asiste a mi próximo <span>Seminario</span></h2>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">El próximo 5 de mayo a las 11:00 horas te invitamos a asistir a nuestro seminario <b>¡Rompe tus límites mentales a través de PNL, Hipnosis y Neurocuencia!</b><br/> Solicita una cortesía doble enviándonos un correo a <a href="mailto:contacto@luisguillen.com.mx?subject=CortesíasPortal">contacto@luisguillen.com.mx</a>                con tu nombre completo y el de tu acompañante.</p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="100ms">
                <a href="images/seminario01.jpg" target="_blank"><img class="img-responsive" src="assets/images/seminario01.jpg" /></a>
            </p>
            <p class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="200ms"><a class="btn btn-primary btn-lg" href="mailto:contacto@luisguillen.com.mx?subject=CortesíasPortal">Solicita tus cortesías</a></p><br/>

        </div>
    </div>
</section>

<section id="about">
    <div class="container">

        <!-- <div class="section-header"> -->
        <!-- <h2 class="section-title text-center wow fadeInDown">Asiste a mi próximo taller</h2>
        <p class="text-center wow fadeInDown">Te muestro a través de un video y un enlace ¿quiés es Luis Guillén y cuál es mi objetivo hacia las personas?</p>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="//player.vimeo.com/video/209995841?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" width="400" height="300" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div> -->

        <div class="row">
            <!--<div class="col-sm-6 wow fadeInDown">
              <h3 class="column-title">Mi Biografía</h3>
              <!-- 16:9 aspect ratio -->

            <!--<div class="embed-responsive embed-responsive-16by9">
                  <iframe src="//player.vimeo.com/video/209995841?title=0&amp;byline=0&amp;portrait=0&amp;color=e79b39" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
              </div>
          </div>--!
          
          <div class="col-sm-6 wow fadeInDown">
              <h3 class="column-title">Mi Experiencia</h3>
              <!--<p>A través de diferentes técnicas de programación neurolingüística, lograremos que tengas más enfoque en las situaciones que deseas cambiar de tu vida, de tu negocio, de tus relaciones interpersonales.</p>

              <p>Te invito a replantear tu vida actual y dar el primer paso para lograr tus verdaderas metas. ¡Sólo tienes una vida, hoy es el momento de decirle SÍ al cambio!</p>-->

            <div class="row">
                <div class="col-sm-6">
                    <ul class="nostyle">
                        <li><i class="fa fa-check-square"></i> Master en Programación Neurolingüística / International Society of NLP Orlando Florida</li>
                        <li><i class="fa fa-check-square"></i> Master Coach con Programación Neurolingüística / International Coach Community Londres Inglaterra</li>
                    </ul>
                </div>

                <div class="col-sm-6">
                    <ul class="nostyle">
                        <li><i class="fa fa-check-square"></i> Diplomado en Neurociencia HarvardX en línea / Estados Unidos de Norte América</li>
                        <li><i class="fa fa-check-square"></i> Entrenamiento Elite Avanzado de técnicas de PNL / Gabriel Guerrero Martel Master Trainer y co-facilitador de Richard Bandler creador de la PNL</li>
                    </ul>
                </div>
            </div>

            <!--<a class="btn btn-primary" href="#">Conoce más de mi</a>-->

        </div>
    </div>

</section>

<div class="google-map" id="contact">

    <div class="container-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-sm-5 col-sm-offset-7">
                    <div class="contact-form">
                        <h3>Medios de Contacto</h3>

                        <address>
                                <strong>Consultorio</strong><br>
                                Calle Newton 199 Int. 101<br>
                                Polanco, Ciudad de México, CP 11560<br>
                                <abbr title="Phone">Sesiones Individuales:</abbr> (961) 1123427<br>

                                <strong>Conferencias, Talleres, Coaching</strong><br>
                                <abbr title="Phone">Correo:</abbr> georgina@relancer.com.mx<br>
                                <abbr title="Phone">Teléfono:</abbr> (55) 22144116<br>
                                
                                
                              </address>

                        <!-- <form id="main-contact-form" name="contact-form" method="post" action="http://www.luisguillen.com.mx/sendemail.php">
                                <div class="form-group">
                                    <input type="text" name="Nombre" class="form-control" placeholder="Name" required>
                                </div>
                                <div class="form-group">
                                    <input type="email" name="Email" class="form-control" placeholder="Email" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" name="Mensaje" class="form-control" placeholder="Subject" required>
                                </div>
                                <div class="form-group">
                                    <textarea name="Tus Comentarios" class="form-control" rows="8" placeholder="Message" required></textarea>
                                </div>
                                <button type="Enviar" class="btn btn-primary">Escríbeme</button>
                            </form> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="difuser"></div>
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15490.809123402336!2d-99.19028041754956!3d19.43598363033862!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1f8abb44c3db7%3A0x6ad6c127617cb59a!2sAv.+Isaac+Newton+199%2C+Polanco%2C+Polanco+V+Secc%2C+11560+Ciudad+de+M%C3%A9xico%2C+CDMX!5e0!3m2!1ses!2smx!4v1530812701705"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>